<html>
        <head>
                <meta charset="utf-8">
                <title>VML|Home</title>
                <!-- CDN js/css -->
                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
                <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        </head>
        <body>
                <div style="margin-left: 15px; margin-right: 15px; width: calc(100% - 30px);">
                <h1>Welcome to Verman Lab, a portal for visualizing PCI Device support in various kernel versions.</h1>
                <br />
                <h3>You can either <a href="{% url 'diff:diff' %}">diff kernels</a> or check <a href="{% url 'cert:cert' %}">RHEL6/RHEL7 PCI device enablement</a>.</h3>
                <br />
                <br />
                <h3>To add a new kernel:</h3>
                        <ul>
                                <li>note: the kernel must be installed normally (as the script to parse the kernel and upload to the database looks in /lib/modules)</li>
                                <li>go to <a href="{% url 'upload:upload' %}" target="_blank">the upload page</a></li>
                                <li>download the shell script on that page</li>
                                <li>upload the .tar.gz file created by the shell script on that page</li>
                                <li>wait for the kernels from that machine to be parsed and added to the database (this may take a while)</li>
                                <ul>
                                        <li>note: if for whatever reason the load times out, the upload process is still probably working.  You can access the admin interface and see if this is the case (kernel versions, modules, and aliases should be actively populating, if they are stalled, please email me).</li>
                                </ul>
                                <li>note: if this release is an externally-facing release add the errata information (ie: RHEL 6.2)</li>
                                <ul>
                                        <li>go to <a href="{% url 'admin:index' %}" target="_blank">the admin page</a> and login with credentials UN: redhat_rules PW: redhat_is_the_best</li>
                                        <li>click "Kernel versions"</li>
                                        <li>select the kernel version you wish to change the errata for</li>
                                        <li>enter the errata in the text box next to errata</li>
                                </ul>
                        </ul>

                <h3>To delete a kernel:</h3>
                        <ul>
                                <li>note: deleting a kernel will not delete the modules and aliases that kernel uses.  this has no functional impact (as you can still reupload the kernel and it will not create duplicate pci modules or aliases in the database)</li>
                                <li>go to <a href="{% url 'admin:index' %}" target="_blank">the admin page</a> and login with credentials UN: redhat_rules PW: redhat_is_the_best</li>
                                <li>click "Kernel versions"</li>
                                <li>select the checkbox next to the kernels you wish to delete (please don't delete one of the general release kernel versions, such as 6.3, 7.0, etc.)</li>
                        </ul>

                <h3>To update the pci.ids database:</h3>
                        <ul>
                                <li>note: you should do the following to check to make sure that you are grabbing the correct (new pci.ids) data.  At the time of the writing of this application, I wasn't sure if the url would change on the pci.ids side for accessing the latest pci.ids device information.  If this part is confusing email me at jlmitch5@ncsu.edu, and I'd be happy to help</li>
                                <ul>
                                        <li>go to <a href="http://pciids.sourceforge.net/" target="_blank">the pci.ids database</a></li>
                                        <li>click "pci.ids" under "Download"</li>
                                        <li>if the link directs you to http://pciids.sourceforge.net/v2.2/pci.ids , skip the rest of the substeps</li>
                                        <li>if the link is different, Change the link in PROJECT_ROOT/pci_ids/views.py (also edit the above link in these directions to the newer one)</li>
                                </ul>
                                <li>go to <a href="{% url 'pci_ids:pci_ids' %}" target="_blank">the pci_ids update page</a></li>
                                <li>wait for the app to pull the latest pci.ids file, it will display "pci.ids file uploaded to verman lab database."</li>
                        </ul>
                </div>
        </body>
</html>
